:root {
    --light-bg: #f8f7f6;
    --text-dark: #005b11;
    --primary-color: #0e3a4e;
    --bg-hov-color: #006b9d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    line-height: 1.7;
    padding: 30px 15px;
    background-color: var(--light-bg);
    color: var(--text-dark);
}

.recipe-api-container {
    max-width: 1200;
    padding: 0 15px;
    text-align: center;
    margin-inline: auto;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: -1px;
}

.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-inline: auto;
    max-width: 600px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#search-input {
    padding: 14px 20px;
    font-size: 1rem;
    flex-grow: 1;
    border: 1px solid #e9ecef;
    border-radius: 8px 0 0 8px;
    outline: none;
    transition: border-color 0.5s ease;
}

#search-input:focus {
    border-color: var(--primary-color);
}

#search-button {
    padding: 13px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color: var(--primary-color);
    color: var(--light-bg);
    border: none;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
}

#search-button:hover {
    background-color: var(--bg-hov-color);
}

.random-recipe-btn {
    padding: 10px 25px;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    background-color: #006b9d;
    color: #e9ecef;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.01);

}

.random-recipe-btn:hover {
    background-color: #006b9d;
    transform: translateY(-2px);
}

.results-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 40px;
    margin-top: 30px;
}

.recipe-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.recipe-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    width: 100%;
    transition: all 0.25s ease-in-out;
}

.recipe-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.recipe-item h3 {
    font-size: 1.15rem;
    font-weight: 600;
    padding: 15px;
    margin: 0;
}